.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 900px;
}

#scrittura, #risultato {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
}
textarea {
    overflow: hidden; /*overflow is set to auto at max height using JS */
    background:lightcyan;
    font-family:sans-serif;
    outline: none;
    min-height:100px;
    max-height:314px;
    height: 800px;
    resize: none;
    width:99%;
}